<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<% if (!loggedIn) { %>
	<p>Welcome! Please <a href="/twitter/login">log in</a>.</p>
<% } else { %>
	<p>You are logged into to twitter as <%= loggedIn.screen_name %>. View your <a href=<%= "https://twitter.com/" + loggedIn.screen_name %>>profile</a>.</p>
<% } %>
<a href="/users/logout" class="btn btn-secondary">Logout</a>